__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
.env
.venv/
env.bak/
venv.bak/

# Ignorar base de datos si la hubiera en el futuro
*.sqlite3

# Ignorar archivos temporales del SO
.DS_Store
Thumbs.db
